<div class="container new-show">

<h3>edit <%= character.name %></h3>

<div class="row">
  <form class="col s12" action="/characters/<%= character._id %>" method="post">
    <input type="hidden" name="_method" value="put">

    <div class="row">
      <div class="input-field col s12">
        <input id="show" type="text" name="character[show]" value="<%= character.show %>" readonly>
        <label for="show">Show ID</label>
      </div>
      <div class="input-field col s12">
        <input id="name" type="text" name="character[name]" value="<%= character.name %>" required>
        <label for="name">Name</label>
      </div>
      <div class="input-field col s12">
        <input id="image-url" type="text" name="character[image]" value="<%= character.image %>" required>
        <label for="image-url">Image URL</label>
      </div>

      <div class="input-field col s12">
        <textarea id="quote" class="materialize-textarea" name="character[quote]" required><%= character.quote %></textarea>
        <label for="quote">Quote</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <textarea id="reason" class="materialize-textarea" name="character[reason]" required><%= character.reason %></textarea>
        <label for="reason">Reason</label>
      </div>
    </div>
  </div>
  <button class="btn waves-effect waves-light" type="submit" name="action">Update</button>

</form>
</div>



</div>

</div>
